{% extends "layout.html" %}
{% block ma %}
{% if session.admin %}
<div class="w3-sidebar w3-bar-block w3-black w3-xlarge w3-center w3-top" style="width:75px;height:100%;z-index:9999">
    <a href="{{ url_for('main') }}" class="w3-bar-item w3-button w3-left">
        <i class="fa fa-home"></i><br>
         <span style="font-size:8pt">Home</span>
    </a>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-left">
         <i class='fa fa-sign-out' aria-hidden='true' style="color:#e87d7d"></i><br>
         <span style="font-size:8pt">Logout</span>
         <p></p>
         <p></p>
         <p></p>
    </a>
    <br>
  
    <a href="{{ url_for('admin.admin') }}" class="w3-bar-item w3-button w3-left">
        <i class='fa fa-lock' aria-hidden='true'></i><br>
         <span style="font-size:8pt">Admin home</span>
        <p></p>
    </a>
    <a href="{{ url_for('users.users')}}" class="w3-bar-item w3-button w3-left">
        <i class='fa fa-user-plus fa-1x' aria-hidden='true'></i><br>
         <span style="font-size:8pt">User list</span>
    </a>
</div>
<br>
<div class="w3-container" style="margin-left:50px;">
    {% block main %} {% endblock %}
</div>

{% endif %}
{% endblock %}
