<div class="w3-center">
    <br><br> {% if check_comp == 'DB' %} Do Best Ledger Manager Site<br><br> {% elif check_comp == 'EI' %} EIN Textile Ledger Manager Site<br><br> {% endif %} Ask your server administrator to add the appropriate permissions to your account.
</div>

<div class="w3-center">
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-center w3-xlarge">
        <span class="w3-tag shipment_color" style="width:200px;font-size:14pt;">
          LogOut
      </span>
    </a>
</div>