<!--ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home_tab_order" data-toggle="tab" href="#home_order" role="tab" aria-controls="home_order" aria-selected="true">Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home_tab_shipment" data-toggle="tab" href="#home_shipment" role="tab" aria-controls="home_shipment" aria-selected="false">Shipment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home_tab_nego" data-toggle="tab" href="#home_nego" role="tab" aria-controls="home_nego" aria-selected="false">Nego</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home_tab_local" data-toggle="tab" href="#home_local" role="tab" aria-controls="home_local" aria-selected="false">Local</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home_tab_fta" data-toggle="tab" href="#home_fta" role="tab" aria-controls="home_fta" aria-selected="false">FTA</a>
  </li>
  <li>

  </li>
</ul-->


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="true">Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="shipment-tab" data-toggle="tab" href="#shipment" role="tab" aria-controls="shipment" aria-selected="false">Shipment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nego-tab" data-toggle="tab" href="#nego" role="tab" aria-controls="nego" aria-selected="false">Nego</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">Local</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="fta-tab" data-toggle="tab" href="#fta" role="tab" aria-controls="fta" aria-selected="false">FTA</a>
    </li>
  </ul>