<style>
    .notes {
        background-attachment: local;
        background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
        line-height: 31px;
        padding: 8px 10px;
    }
</style>

<div class="w3-container w3-hide" id="packing_list_header" style="width:100%;max-width:1000px">
    <div class="w3-half">
        <h5 class="w3-opacity">
            <b>Packing List</b>
        </h5>

    </div>
    <div class="w3-half">
        <h5 class="w3-opacity">
            <b>PDF</b>
        </h5>
        <div class="w3-twothird w3-bar">
            <button type="button" class="w3-button w3-khaki w3-round w3-padding-small w3-bar-item " onclick="pdfPrint_packinglist()" style="width:50%"> Print </button>
        </div>
    </div>
</div>


<div class="w3-container w3-card w3-white w3-margin-bottom w3-hide w3-animate-right" id="packing_list" style="max-width:1000px;overflow:auto">
    <div class="w3-container">
        <br>
        <!-- start -->
        <!-- First row -->
        <div class="w3-container w3-row-padding w3-margin-bottom w3-small">
            <!-- w3-third [1] -->
            <div class="w3-third">
                <div style="color:#d96868;font-weight:bold">
                    Order No
                </div>
                <div class="w3-half">
                    <input class="w3-input w3-light-gray ht_25" type="text" id="packing_list_OrderNo" readonly>
                </div>
                <div class="w3-half">
                    <input class="w3-input w3-light-gray ht_25" type="text" id="packing_list_OrderGubun" readonly>
                </div>
            </div>
        </div>

        <!-- Second row -->
        <div class="w3-container w3-row-padding w3-margin-bottom w3-small">
            <!-- w3-third [1] -->
            <div class="w3-half">
                <div class="row1_text_color">
                    <i class="fa fa-pencil"></i> Shipper / Exporter
                </div>
                <textarea class="w3-input w3-border ht_50" type="text" id="packing_list_shipper" name="Days" style=" resize : none;"> </textarea>
                <div class="row1_text_color">
                    <i class="fa fa-pencil"></i> For Account Risk of Messrs
                </div>
                <textarea class="w3-input w3-border ht_50" type="text" id="packing_list_account" name="Days" style=" resize : none;"> </textarea>
                <div class="row1_text_color">
                    <i class="fa fa-pencil"></i> Notify Party
                </div>
                <textarea class="w3-input w3-border ht_50" type="text" id="packing_list_Notify" name="Days" style=" resize : none;"> </textarea>
                <div class="w3-half">
                    <div class="row1_text_color">
                        <i class="fa fa-pencil"></i> Port of Loading
                    </div>
                    <textarea class="w3-input w3-border ht_30" type="text" id="packing_list_Loading" name="Days" style=" resize : none;"> </textarea>
                </div>
                <div class="w3-half">
                    <div class="row1_text_color">
                        <i class="fa fa-pencil"></i> Final Destination
                    </div>
                    <textarea class="w3-input w3-border ht_30" type="text" id="packing_list_Destination" name="Days" style=" resize : none;"> </textarea>
                </div>
                <div class="w3-half">
                    <div class="row1_text_color">
                        <i class="fa fa-pencil"></i> Vessel/Flight
                    </div>
                    <input class="w3-input w3-border ht_25" type="text" id="packing_list_Vessel" name="Days">
                </div>
                <div class="w3-half">
                    <div class="row1_text_color">
                        <i class="fa fa-calendar-check-o"></i> Sailing on or about
                    </div>
                    <input type="text" id="date_packing_list_sailing" class="w3-input ht_25 max_width_200">
                </div>

            </div>
            <div class="w3-half">
                <div class="w3-half">
                    <div class="row1_text_color">
                        <i class="fa fa-pencil"></i> No. date of invoice
                    </div>
                    <input class="w3-input w3-border ht_25" type="text" id="packing_list_invoice" name="Days">
                </div>
                <div class="w3-half">
                    <div class="row1_text_color">
                        <i class="fa fa-calendar-check-o"></i>

                    </div>
                    <input type="text" id="date_packing_list_invoice" class="w3-input ht_25 max_width_200">
                </div>
                <div class="row1_text_color">
                    <i class="fa fa-pencil"></i> Remark
                </div>
                <textarea class="w3-input w3-border ht_100" type="text" id="packing_list_remark" name="Days" style=" resize : none; height:270px;"> </textarea>
            </div>
        </div>
        <!-- end of second row -->
        <hr>
        <br>
        <div class="w3-container w3-row-padding w3-margin-bottom w3-small">
            <div class="w3-col">
                <div class="w3-quarter row1_text_color">
                    <i class="fa fa-pencil"></i> Marks and numbers
                </div>
                <div class="w3-quarter row2_text_color">
                    <i class="fa fa-pencil"></i> Description of goods
                </div>
                <div class="w3-quarter row3_text_color">
                    <i class="fa fa-pencil"></i> Net weight
                </div>
                <div class="w3-quarter row1_text_color">
                    <div class="w3-half row1_text_color">
                        <i class="fa fa-pencil"></i> Gross weight
                    </div>
                    <div class="w3-half row1_text_color">
                        <i class="fa fa-pencil"></i> Measurement
                    </div>
                </div>
                <textarea class="notes" id="packing_list_lastnotes" style="resize:none; height:500px;width:830px;"> </textarea>
            </div>
        </div>

    </div>
</div>
<!-- end of w3-container -->

<script>
    $(function() {
        $("#date_packing_list_sailing").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });
    });
    $(function() {
        $("#date_packing_list_invoice").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });
    });


    function setspace(size) {
        text = '\xa0';
        var a = size;
        for (var i = 0; i < a; i++) {
            text += '\xa0';
        }
        return text
    }

    var text1 = 'N/M';
    var text2 = 'POLYSTER STAPLE FIBER';

    var text3 = '\xa0';
    for (var i = 0; i < 44; i++) {
        text3 += '\xa0';
    }

    var icount1 = 44 - text1.length;
    var text1space = setspace(icount1);

    document.getElementById("packing_list_lastnotes").value = text1 + text1space + text2;




    function pdfPrint_packinglist() {
        //alert('test');
        // set variable
        var attn = document.getElementById('packing_list_lastnotes').value;

        var companystr = '';
        if (check_company == 'DB')
            companystr = 'DO BEST';
        else if (check_company == 'EI')
            companystr = 'EIN Textile';

        var docDefinition2 = {
            content: [{
                    alignment: 'center',
                    text: '\nPACKING LIST\n',
                    bold: true,
                    fontSize: 30
                }, {
                    color: '#444',
                    table: {
                        widths: [150, 150, '*'],
                        heights: [25, 25, 50, 50, 25, 25],
                        body: [
                            [{
                                border: [true, true, true, false],
                                colSpan: 2,
                                rowSpan: 2,
                                text: [{
                                    bold: true,
                                    text: 'Shipper/Exporter\n',
                                }, {
                                    fontSize: 10,
                                    text: companystr + ' CO. LTD.\n' + 'GONDDUCK-DONG, MAPO-GU, SEOUL, KOREA\n' + 'T)82.2.3271.3800 F)3271.3899'
                                }]
                            }, '', {
                                bold: true,
                                text: 'No. & date of invoice'
                            }],
                            ['', '', {
                                rowSpan: 5,
                                text: 'Remark'
                            }],
                            [{
                                colSpan: 2,
                                rowSpan: 1,
                                text: [{
                                    bold: true,
                                    text: 'For Account & Risk of Messrs.\n',
                                }, {
                                    fontSize: 10,
                                    text: '1'
                                }]
                            }, '', ''],
                            [{
                                colSpan: 2,
                                rowSpan: 1,
                                text: [{
                                    bold: true,
                                    text: 'Notify party\n',
                                }, {
                                    fontSize: 10,
                                    text: '1'
                                }]
                            }, '', ''],
                            [{
                                text: [{
                                    bold: true,
                                    text: 'Port of Loading\n',
                                }, {
                                    fontSize: 10,
                                    text: 'BUSAN KOREA'
                                }]
                            }, {
                                text: [{
                                    bold: true,
                                    text: 'Final desitination\n',
                                }, {
                                    fontSize: 10,
                                    text: 'data here'
                                }]
                            }, ''],
                            [{
                                text: [{
                                    bold: true,
                                    text: 'Vessel / Flight\n',
                                }, {
                                    fontSize: 10,
                                    text: 'data here'
                                }]
                            }, {
                                text: [{
                                    bold: true,
                                    text: 'Sailing on or about\n',
                                }, {
                                    fontSize: 10,
                                    text: 'data here'
                                }]
                            }, ''],
                        ]
                    } // table layout
                }] // end of content
        }; // end of docDefinition2

        var pdf_name = 'packing list.pdf';

        var pdf = pdfMake.createPdf(docDefinition2).download(pdf_name);



    } // end of pdfPrint()
</script>